<%= content_tag_for :section, flat do %>
  <h3><%= link_to_unless_current "#{flat.address}, #{flat.rooms}", flat_path(flat) %></h3>

  <div><%= number_to_currency(flat.rent, unit: 'CZK', format: '%n %u', precision: 0) %></div>
  <div><%= "#{flat.area}m<sup>2</sup>".html_safe %></div>

  <%= simple_format flat.description %>

  <% flat.photos.each do |photo| %>
    <%= image_tag photo.file.url %>
  <% end %>
<% end %>