<%= simple_form_for @flat, html: { multipart: true, data: { flat_id: @flat.id } } do |f| %>
  <%= f.input :published, as: :hidden %>

  <%= f.input :address, placeholder: 'Kroftova 13', autofocus: true %>
  <%= f.input :part, placeholder: 'Praha 2, Vyšehrad' %>

  <fieldset class="form__row">
    <%= f.input :rooms, placeholder: '3+1, 1+kk, 2+kk, etc.', wrapper_html: { class: 'input--half' } %>
    <%= f.input :area, placeholder: '86m²', wrapper_html: { class: 'input--half' } %>
  </fieldset>

  <%= f.input :rent, placeholder: '18.000' %>
  <%= f.input :utility_included %>
  <%= f.input :featured %>
  <%= f.input :rented %>
  <%= f.input :external_source_id %>
  <%= f.input :description, as: :text %>
  <%= f.input :description_ru, as: :text %>

  <%#= f.simple_fields_for :photos do |p| %>
    <%#= p.input :file, label: 'Photos' %>
  <%# end %>

  <div class="new-flat__photos__placeholder js-dropzone js-dropzone-preview">
    <span><i class="ss-icon">attach</i><%= t('flats.drag_photos_html', href: link_to(t('flats.drag_photos_href'), '')) %></span>

    <div class="new-flat__photos"></div>
  </div>

  <% if @flat.published? %>
    <%= f.label 'Обложка' %>
    <ul class="flat__cover-select">
      <% @flat.photos.each do |photo| %>
        <li class="flat__cover-select__item">
          <%= image_tag photo.file.url, class: 'flat__cover-select__item__photo' %>
          <%= f.radio_button :cover_id, photo.id, class: 'flat__cover-select__item__input' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.button :submit, class: 'button button--blue' %>
  <span><%= t('flats.new.or_cancel_html', href: link_to(t('flats.new.or_cancel_href'), root_path)) %></span>
<% end %>