<% title @flat.title %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDcw2onVUPC_iqXvpLw7V7JHjtCy8Tsahk' %>

  <%= content_tag :meta, nil, name: 'title', content: @flat.title %>
  <%= content_tag :meta, nil, name: 'description', content: @flat.description %>
  <link rel="image_src" href="<%= @flat.cover.file.url.html_safe %>">
<% end %>

<% if user_signed_in? %>
  <% content_for(:editor) do %>
    <div class="editor-panel js-editor-panel" data-flat-id="<%= @flat.id %>">
      <div class="editor-panel__inner">
        <div class="editor-panel__flat-id">
          <span><i class="ss-icon">link</i> <%= @flat.id %></span>
        </div>

        <ul class="editor-panel__actions">
          <li class="editor-panel__actions__item">
            <%= link_to '<i class="ss-icon">edit</i>Редактировать'.html_safe, edit_flat_path(@flat) %>
          </li>

          <li class="editor-panel__actions__item <%= 'editor-panel__actions__item--disabled' if @flat.vk_post_id.present? %>" data-action="share_on_vk">
            <%= link_to '<i class="ss-icon">like</i>Поделиться'.html_safe, '' %>
          </li>

          <li class="editor-panel__actions__item <%= 'editor-panel__actions__item--disabled' if @flat.featured? %>" data-action="feature">
            <%= link_to '<i class="ss-icon">heart</i>На главную'.html_safe, '' %>
          </li>

          <li class="editor-panel__actions__item <%= 'editor-panel__actions__item--disabled' if @flat.rented? %>" data-action="rent">
            <%= link_to '<i class="ss-icon">send</i>Сдать'.html_safe, '' %>
          </li>

          <li class="editor-panel__actions__item <%= 'editor-panel__actions__item--disabled' unless @flat.published? %>" data-action="unpublish">
            <%= link_to '<i class="ss-icon">trash</i>Удалить'.html_safe, '' %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<%= content_tag_for :article, @flat do %>
  <hgroup>
    <h1 class="flat__address"><%= @flat.title %></h1>

    <span class="flat__rooms"><%= @flat.rooms %></span>,
    <span class="flat__area"><%= "#{@flat.area.round} m<sup>2</sup>".html_safe %></span>
  </hgroup>

  <div class="flat__photos fotorama" data-nav="thumbs" data-keyboard="true">
    <% @flat.photos.each do |photo| %>
      <%= image_tag photo.file.url %>
    <% end %>
  </div>

  <div class="flat__description__wrapper">
    <div class="flat__description">
      <%= simple_format @flat.description %>
    </div>
  </div>

  <div id="map_canvas" style="height: 162px; margin: 0; padding: 0;" data-lat="<%= @flat.latitude %>" data-lng="<%= @flat.longitude %>"></div>
  <%= link_to 'увеличить'.html_safe, '', class: 'js-map-toggle', style: 'color: #222; float: right; margin-top: 5px; font-size: 12px;' %>
<% end %>

<aside class="flat-sidebar">
  <% if @flat.rented? %>
    <section class="flat__rented">
      <h2 class="flat__rented__title"><%= t('flats.rented_oops') %></h2>
      <span><%= t('flats.rented', href: link_to(t('flats.rented_href'), flats_path)).html_safe %></span>
    </section>
  <% else %>
    <span class="flat__rent">
      <!-- i class="ss-icon">tag</i -->
      <%= number_to_currency(@flat.rent, format: '%n', precision: 0) %>
      <small>Kč</small>
    </span>

    <span class="flat__utility"><%= @flat.utility_included ? t('flats.utility_included') : t('flats.utility_not_included') %></span>

    <!-- <section class="flat-sidebar__request-form">
      <%# render 'requests/form' %>
    </section> -->

    <%= link_to t('tickets.new.title'), '#', class: 'button button--blue button--wide new-ticket__opener', data: { remodal_target: 'new_ticket_modal' } %>

    <%= render 'flats/show/similar_flats' %>
  <% end %>

  <!-- section class="flat-sidebar__agent">
    <div class="flat-sidebar__agent__inner">
      <%
        agents = [
          {
            name: 'Яков',
            image: 'iakov.jpg',
            phone: '+420 777 429 900'
          },

          {
            name: 'Адам',
            image: 'adam.jpg',
            phone: '+420 608 700 468'
          }
        ]

        agent = agents.sample
      %>

      <div class="flat-sidebar__agent__photo"><%= image_tag agent[:image] %></div>
      <h2 class="flat-sidebar__agent__name">
        <%= agent[:name] %><span class="flat-sidebar__agent__name__title">, риэлтор</span>
        <span class="flat-sidebar__agent__contact"><%= agent[:phone] %></span>
      </h2>
    </div>
  </section -->

  <!-- ul class="flat-sidebar__share">
    <li>
      <a href="#" class="flat-sidebar__share__item flat-sidebar__share__item--vk js-share-vk">Поделиться</a>
    </li>
  </ul -->
</aside>

<div data-remodal-id="new_ticket_modal" class="remodal berkub-remodal new-ticket" data-cover-image-url="<%= @flat.cover.file.url %>">
  <hgroup class="new-ticket__header new-ticket__cover">
    <h1 class="new-ticket__title"><%= t('tickets.new.title') %></h1>
    <h2 class="new-ticket__subtitle"><%= t('tickets.new.subtitle') %></h2>
  </hgroup>

  <%= render 'tickets/form' %>
  <%= render 'tickets/thanks' %>
</div>

<%= javascript_tag do %>
  mixpanel.track('Flat Page Viewed', { flat_id: <%= @flat.id.to_json %> })

  <% if @flat.featured? %>
    mixpanel.track('Featured Flat Page Viewed', { flat_id: <%= @flat.id.to_json %> })
  <% end %>
<% end %>
