<section class="similar-flats">
  <h1 class="similar-flats__title">Стоит приглядеться</h1>

  <% Flat.limit(3).each do |flat| %>
    <section class="similar-flat">
      <%= link_to flat_path(flat) do %>
        <%= image_tag flat.cover.file.url(:large), class: 'flat__photo' %>
      <% end %>
    </section>
  <% end %>
</section>