<%= simple_form_for Search.new, html: { class: 'welcome__search__form' } do |f| %>
  <%= f.input :part, as: :select, collection: Search.parts, wrapper_html: { class: 'welcome__search__input' }, include_blank: false, label: false %>
  <%= f.input :rooms, as: :select, collection: Search.rooms, wrapper_html: { class: 'welcome__search__input' }, include_blank: false, label: false %>
  <%= f.input :rent, as: :select, collection: Search.prices, wrapper_html: { class: 'welcome__search__input' }, include_blank: false, label: false %>

  <div class="welcome__search__input">
    <%= f.submit 'Найти квартиру', class: 'button button--wide button--search' %>
  </div>
<% end %>
