<div class="welcome__flats">
  <div class="welcome__flats__inner">
    <hgroup class="welcome__flats__title">
      <h1>Лучшие квартиры</h1>
      <h2>Отобраны с любовью</h2>
    </hgroup>

    <div>
      <%= render partial: 'flats/index/flat', collection: @featured_flats %>
    </div>

    <hgroup class="welcome__flats__title">
      <h1>Новые поступления</h1>
      <h2>Выбери на свой вкус и цвет</h2>
    </hgroup>

    <div>
      <%= render partial: 'flats/index/flat', collection: @recent_flats %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  mixpanel.track('Landing Page Viewed')
<% end %>