<%= simple_form_for @request, remote: true, html: { 'data-validate' => 'parsley' } do |f| %>
  <%= f.input :flat_id, as: :hidden %>

  <%= f.input :name, required: true %>
  <%= f.input :phone, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :availability %>

  <hr class="separator">
  <%= f.button :submit, class: 'button button--blue button--wide' %>
<% end %>