<%= content_tag_for :section, flat do %>
  <%= link_to flat_path(flat) do %>
    <%= image_tag flat.cover.file.url(:large), class: 'flat__photo' %>
  <% end %>

  <header class="flat__header">
    <div class="flat__header__inner">
      <h3 class="flat__header__title"><%= link_to_unless_current flat.title, flat_path(flat) %></h3>

      <div class="flat__header__attributes">
        <!-- div class="flat__header__attribute flat__header__attribute--location"><i class="ss-icon">location</i>Praha 5, Smichov</div -->
        <div class="flat__header__attribute"><i class="ss-icon">home</i><%= flat.rooms %>,</div>
        <div class="flat__header__attribute"><%= "#{flat.area.round} m<sup>2</sup>".html_safe %></div>
      </div>
    </div>
  </header>

  <div class="flat__price">
    <div class="flat__price__inner">
      <em><%= number_to_currency(flat.rent, unit: 'CZK', format: '%n %u', precision: 0) %></em>
      <span><%= flat.utility_included ? t('flats.utility_included') : t('flats.utility_not_included') %></span>
    </div>
  </div>
<% end %>