<% title t('pages.about.title') %>

<div class="about__title">
  <div class="about__title__inner">
    <p>Исходя из предыдущего опыта работы в нескольких чешских агентствах недвижимости, мы решили создать свое, отличное от всех остальных агентств, в котором постарались устранить все недочеты, доставлявшие проблемы как клиентам, так и нам самим. Основной упор делается на долгосрочную аренду элитных квартир иностранному населению Праги. Мы расширяем границы представления о недвижимости.</p>
    <p><strong>Bérkub</strong> — это качество, а не количество.</p>

    <%= link_to t('welcome.find_your_home'), flats_path, class: 'button button--about' %>
  </div>
</div>

<%= javascript_tag do %>
  mixpanel.track('About Page Viewed')
<% end %>
