<div class="new-ticket__form">
  <%= simple_form_for Ticket.new, remote: true, html: { 'data-validate' => 'parsley' } do |f| %>
    <%= f.input :flat_id, as: :hidden, input_html: { value: @flat.id } %>
    <%= f.input :name, label: false, autofocus: true, required: true %>
    <%= f.input :phone, label: false, required: true %>
    <%# f.input :email, label: false %>

    <hr class="separator">
    <%= f.button :submit, class: 'button button--blue button--wide' %>
  <% end %>
</div>
