<div class="new-ticket__thanks new-ticket__cover">
  <hroup>
    <h1 class="new-ticket__title"><%= t('tickets.thanks.title') %></h1>
    <h2 class="new-ticket__subtitle"><%= t('tickets.thanks.subtitle') %></h2>
  </hroup>
</div>