.footer {
  @extend %offset-base;
  @include clearfix;

  width: span(full);
  padding: 60px 0 40px;

  &__copy {
    width: span(4);
    margin: 0 auto;
    text-align: center;

    span {
      font-size: rem(14);
    }
  }
}