.header {
  @extend %offset-base;
  @include clearfix;

  position: absolute;
  width: span(full);
  margin: 12px 0 60px;
  z-index: 999;

  &__logo {
    @include span(2);

    padding-top: 2px;

    img {
      width: 118px;
    }
  }

  &__nav {
    width: span(4);
    float: right;
    list-style: none;
    padding: 14px 0 0 28px;

    &__link {
      display: inline-block;
      padding-right: 22px;
      font-size: rem(16);
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 1.5;

      > a {
        color: white;
        text-decoration: none;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
