.sidebar {
  @include span(3);

  position: fixed;
  height: 100%;
  padding: 30px;
  border-right: 1px solid #eee;

  &__logo {
    padding-top: 2px;
    margin-bottom: 52px;

    img {
      width: 118px;
    }
  }
}

.sidebar__menu__wrapper {

}

.sidebar__menu {
  &__item {
    a {
      text-decoration: none;
      color: #888;
    }
  }
}

.sidebar__footer {
  position: absolute;
  left: 30px;
  bottom: 30px;

  &__item {
    font-size: rem(14);
    font-weight: 300;
    color: #888;
    padding-bottom: 15px;

    a {
      text-decoration: none;
      color: #888;
      border-bottom: 1px solid lighten(#888, 30%);
    }
  }

  &__item--copy {
    margin-top: 12px;
    font-weight: 400;
  }
}