<% title t('searches.show.title') %>

<%= render partial: 'flats/index/flat', collection: @search.flats %>

<% content_for :sidebar do %>
  <%= simple_form_for @search, html: { class: 'sidebar__search' } do |f| %>
    <%= f.input :part, as: :select, collection: Search.parts, wrapper_html: { class: 'sidebar__search__input' }, include_blank: false, label: false %>
    <%= f.input :rooms, as: :select, collection: Search.rooms, wrapper_html: { class: 'sidebar__search__input' }, include_blank: false, label: false %>
    <%= f.input :rent, as: :select, collection: Search.prices, wrapper_html: { class: 'sidebar__search__input' }, include_blank: false, label: false %>

    <div class="sidebar__search__input">
      <%= f.submit 'Найти квартиру', class: 'button button--wide button--search' %>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do %>
  mixpanel.track('Search Results Viewed')
<% end %>
