$susy: (
  columns: 16,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: after,
  global-box-sizing: border-box
);

$xl: em(1200); // from 1200 to 1440 desktop
$l: em(959); // tablet and start desktop
$m: em(768); // portrait tablet portraits from 768 to 960
$s: em(650); // portrait tablet from 650 to 768
$xs: em(290); // portrait phone

$color-blue: #4671fb;
$color-red: #ea483e;