.button {
  @include prefixer(transition, all .4s cubic-bezier(0.165,0.84,0.44,1), moze webkit spec);

  outline: 0;
  border: 0;
  background-color: $color-blue;
  background-clip: padding-box;
  border-radius: 3px;
  color: white;
  font-size: rem(13);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  padding: 10px 16px;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: #3d67ed;
    background-color: lighten($color-blue, 2%);
  }
}

.button--wide {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}

.button--hollow {
  background-color: transparent;
  border: 2px solid $color-blue;
  color: $color-blue;
  // width: 99%;
}
