$panel-background-color: #FAFAFA;
$panel-font-color: #333;
$panel-font-color-lighter: lighten($panel-font-color, 50%);
$panel-height: 50px;

.editor-panel {
  position: fixed;
  bottom: 0;
  min-height: $panel-height;
  width: 100%;

  &__inner {
    background-color: $panel-background-color;
    border-top: 2px solid $color-blue;
    padding: 18px 30px;
    margin-left: span(3);
    height: $panel-height;
  }

  i.ss-icon {
    position: relative;
    margin-right: 4px;
    top: 1px;
  }

  a {
    @include prefixer(transition, all 0.2s ease-out, moz webkit spec);

    color: $panel-font-color;
    text-decoration: none;

    &:hover {
      color: $color-blue;
    }
  }
}

.editor-panel__flat-id {
  display: inline-block;
  font-weight: 500;
  font-size: rem(16);
  letter-spacing: 1px;
  width: 100px;
}

.editor-panel__actions {
  color: $panel-font-color;
  white-space: nowrap;
  font-weight: 300;
  font-size: rem(14);
  float: right;

  &__item {
    @include inline-block;

    margin: 0 12px;

    &--disabled {
      a {
        color: $panel-font-color-lighter;
        cursor: default;

        &:hover {
          color: $panel-font-color-lighter;
        }
      }
    }
  }
}