@import "flats/index";
@import "flats/show";
@import "flats/form";

.new-flat__wrapper {
  @extend %centered;

  width: span(10);
  background-color: #fbfcfd;
  border: 1px solid #f7f8f9;
  border-radius: 3px;
  padding: 40px;
}

.new-flat {
  &__title {
    font-size: rem(28);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.4em;
  }
}

.new-flat__photos {
  position: relative;
  margin-top: 14px;
  padding-left: 2px;

  &__photo {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 14px;
    width: 120px;
    margin-right: 14px;

    &:last-of-type {
      padding-bottom: 0;
    }

    img {
      padding: 1px;
      border: 1px solid #ccc;
    }

    &__label {
      display: block;
      margin-top: 4px;
      font-size: rem(12);
      color: #999;

      > i {
        position: relative;
        top: 2px;
        cursor: pointer;

        &:hover {
          color: $color-blue;
        }
      }
    }

    &__progress {
      display: block;
      position: relative;
      height: 6px;
      width: 105px;
      margin: 4px 0 2px;
      border: 1px solid #ccc;
      border-radius: 2px;

      > span {
        display: block;
        background-color: $color-blue;
        height: 100%;
      }
    }
  }

  &__placeholder {
    min-height: 120px;
    border: 2px dashed #ccc;
    margin: 1.4em 0;
    border-radius: 4px;
    padding: 14px;

    &.hover {
      border-color: $color-blue;

      > span {
        opacity: 0.5;
      }
    }

    > span {
      color: #999;
      display: block;
      font-size: rem(14);

      i {
        padding-right: 4px;
      }
    }
  }
}

#flat_rent {
  width: span(23%);
}

#flat_description,
#flat_description_ru {
  height: 180px;
}

.flat_photos_file {
  display: none;
}