$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

$inputs-button-list: 'input[type="button"]',
                     'input[type="reset"]',
                     'input[type="submit"]';

*:focus {
  outline: 0;
}

.input {
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.input.hidden {
  display: none;
}

%input-base {
  @include prefixer(background-clip, padding-box, moz webkit spec);

  font-size: rem(16);
  border-radius: 3px;
  border: 2px solid #e3e6ea;
  padding: 12px 14px;
  width: 100%;

  &:focus {
    border-color: $color-blue;
  }

  // &:disabled {
  //   color: $input-border-color-disabled;
  //   border-color: $input-border-color-disabled;
  //   background-color: #f9fafc;
  // }
}

%label-base {
  display: block;
  font-size: rem(14);
  font-weight: 400;
  padding-bottom: 4px;
}

form.simple_form {
  .input {
    @each $input in $inputs-list {
      #{$input} {
        @extend %input-base;
      }
    }

    textarea {
      @extend %input-base;
    }
  }

  label {
    @extend %label-base;
  }

  .form__row {
    &:before {
      display: table;
      content: '';
    }

    .input--half {
      width: span(50%);
      float: left;
      margin-right: 0;
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.parsley-error {
  border-color: $color-red !important;
}

.input-error {
  display: block;
  font-size: rem(12);
  color: $color-red;
  margin: 4px 0 0 2px;
}

@import "buttons";