@include global-box-sizing;

@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

html, body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

body > .container {
  @include container();
  @include clearfix;
}

%offset-base {
  padding: 0 span(1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  @include span(13 last);
  @include clearfix;

  padding: 30px 30px 30px 60px;
}
