body.pages {
  .content {
    padding: 0;
  }

  .about__title {
    font-size: rem(28);
    font-weight: 300;
    line-height: 1.6;
    color: white;

    background: image-url('about_room.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;

    &__inner {
      @include span(16);

      padding: 170px 30px 30px 60px;
      height: 800px;
      text-align: center;
    }

    p {
      margin-bottom: 2em;
    }
  }

  .button--about {
    text-decoration: none;
    display: block;
    width: 360px;
    margin: 48px auto 0 auto;
    text-align: center;
    font-size: rem(20);

    &:hover {
      background-color: $color-blue;
      color: white;
    }
  }
}