.welcome__search {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.4);

  transition: background-color 0.5s ease;

  &__input {
    @include inline-block;

    vertical-align: top;
    margin: 0;

    select {
      border: 0;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      background: image-url('triangle-icon.png') no-repeat 93% 50% #fff;
      font-size: rem(16);
      font-weight: 100;
      color: #bbb;
      padding: 14px;
      min-width: 200px;
    }

    .button--search {
      padding-top: 16px;
      padding-bottom: 16px;
      top: -1px;
      position: relative;
    }
  }
}

.welcome__search--pinned {
  position: fixed;
  background-color: lighten(#ea483e, 15%);
  height: 90px;
  top: 0;
  z-index: 99999;
}

.sidebar__search {
  position: relative;
  margin-top: 62px;

  &__input {
    $input-width: 208px;

    select {
      border: 1px solid #eee;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      background: image-url('triangle-icon.png') no-repeat 93% 50% #fff;
      font-size: rem(14);
      padding: 10px 0 8px 11px;
      min-width: $input-width;
    }

    .button--search {
      position: relative;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: rem(12);
      width: $input-width;
    }
  }
}