.new-ticket {
  $offset: 40px;
  $border-radius: 3px;
  $background-color: #fbfcfd;

  @include prefixer(transition, height 0.5s, moz webkit spec);

  border-radius: $border-radius;
  background-color: $background-color;
  // border: 1px solid #f7f8f9;
  text-align: left;
  width: span(6);
  padding: 0;
  height: 440px; // Set explicitly in order to allow animation on height change.

  &__opener {
    margin-top: 38px;
  }

  &__header, &__form, &__thanks {
    padding: $offset;
  }

  &__cover {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-image: linear-gradient(to bottom, rgba($background-color, 0) 0%, rgba($background-color, 1) 100%), url(https://berkub.s3-eu-west-1.amazonaws.com/uploads/photo/file/1753/photo-marked-3077.jpg?AWSAccessKeyId=AKIAIFUVXLVW3TMFBOYQ&Signature=yixxT%2B4valzl1dTem1qW5CoWQKE%3D&Expires=1419076445);
  }

  &__form {
    padding-top: 0;
  }

  &__title {
    font-size: rem(28);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.6em;
  }

  &__subtitle {
    line-height: 1.5;
    font-weight: 200;
    text-align: center;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
  }

  &__thanks {
    display: none;
  }

  &--sent {
    height: 176px;

    .new-ticket__form {
      // visibility: hidden;
      display: none;
    }

    .new-ticket__header {
      display: none;
    }

    .new-ticket__thanks {
      display: block;
    }
  }
}