%welcome-cover {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.welcome__cover {
  position: relative;
  text-align: center;
  background: image-url('welcome_cover.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;

  &:before {
    @extend %welcome-cover;

    content: "\A";
    position: absolute;
    background: rgba(0,0,0,0.4);
    opacity: 1;
  }

  &__inner {
    position: relative;
    padding-top: 248px;

    hgroup {
      position: absolute;
      left: 300px;
      color: white;

      h1 {
        font-size: rem(58);
        font-weight: 600;
        margin-bottom: 16px;
        text-transform: uppercase;
      }

      h2 {
        font-size: rem(18);
        font-weight: 300;
      }
    }
  }
}

.welcome__flats {
  overflow: hidden;
  width: 100%;
  position: relative;

  &__inner {
    @extend %offset-base;
    @include clearfix;

    background-color: #efedef;
    padding-top: span(1) / 2;
    width: span(full);
    font-size: 0;
  }

  &__title {
    @include prefixer(font-smoothing, antialiased, moz webkit);

    color: #565a5c;
    line-height: 1.4;
    text-align: center;
    padding-bottom: span(1) / 3;

    h1 {
      font-size: rem(32);
      font-weight: 600;
    }

    h2 {
      font-size: rem(16);
    }
  }
}