.flat__cover-select {
  position: relative;
  margin-bottom: 20px;
  font-size: 0;

  &__item {
    @include inline-block;

    position: relative;
    margin-right: 16px;
    margin-bottom: 10px;
    vertical-align: top;

    &__photo {
      height: 120px;
    }

    &__input {
      position: relative;
      display: block;
      font-size: 16px;
      margin: 3px auto;
      cursor: pointer;
    }
  }
}