.flats.index {
  font-size: 0;
}

.flat {
  @include inline-block;
  @include gutters(4 1/12 after);

  position: relative;
  margin-bottom: 4%;
  width: span(1 of 4 1/12);
  vertical-align: top;

  &:nth-child(4n+4) {
    margin-right: 0;
  }
}

.flat__header {
  &__inner {
    margin-top: 13px;
  }

  &__title {
    font-size: rem(18);
    line-height: 1.4;
    width: 100%;
    margin-bottom: 4px;

    & > a {
      text-decoration: none;
      color: #222;
    }
  }

  &__attributes {
    position: relative;
  }

  &__attribute {
    display: inline;
    color: #888;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 4px;

    .ss-icon {
      margin-right: 6px;
    }

    &--location {
      margin-right: 8px;

      .ss-icon {
        margin-right: 4px;
      }
    }
  }
}

.flat__price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-blue;
  color: white;
  font-size: rem(14);
  text-align: center;

  &__inner {
    padding: 10px;

    span {
      display: block;
      font-size: rem(10);
      margin-top: 4px;
    }

    em {
      font-weight: 600;
    }
  }
}

nav.pagination {
  font-size: rem(14);
  font-weight: 200;

  a {
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid #d5d5d5;
  }

  .page {
    font-size: rem(16);

    &.current {
      font-weight: 400;
    }
  }

  .next {
    margin-left: 10px;
  }

  .prev {
    margin-right: 10px;
  }
}