body.flats.show {
  .content {
    @include clearfix;
  }

  .flat {
    @include span(10);

    margin-bottom: 32px;
    margin-right: 30px;

    > hgroup {
      position: relative;
      margin-bottom: 32px;
      overflow: hidden;
    }

    %flat_subtitle {
      color: #888;
      font-size: rem(18);
    }

    &__rooms, &__area {
      @extend %flat_subtitle;
    }

    &__address {
      font-size: rem(28);
      margin-bottom: 18px;
    }

    &__description__wrapper {
      margin: 24px 0;
    }

    &__description {
      font-size: rem(14);
      line-height: 1.4;
    }

    &__rent {
      font-size: rem(28);
      font-weight: 500;

      small {
        font-size: rem(14);
        letter-spacing: 1px;
        color: #888;
      }

      i {
        position: relative;
        top: 3px;
        margin-right: 2px;
      }
    }

    &__utility {
      display: block;
      font-size: rem(14);
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.5;
      color: #888;
      margin: 8px 0 0 1px;
    }
  }

  .flat__rented {
    background-color: #fffbe3;
    padding: 18px;
    overflow: hidden;
    margin-bottom: 24px;

    &__title {
      margin-bottom: 8px;
    }

    & > span {
      font-size: rem(16);
      font-weight: 300;
      line-height: 1.5;
    }

    a {
      color: #222;
      text-decoration: none;
      border-bottom: 1px solid #666;
    }
  }

  .flat-sidebar {
    @include span(5);

    position: relative;

    &__request-form {
      background-color: #eee;
      padding: 24px;
      margin-top: 38px;
    }

    &__share {
      @include clearfix;

      margin-top: 24px;
      float: right;

      a {
        color: white;
      }

      &__item {
        display: block;
        position: relative;
        padding: 10px 18px;
        font-size: rem(12);
        font-weight: 300;
        line-height: 1;
      }

      &__item--vk {
        background-color: #5d7ea2;
        border-radius: 3px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    &__agent {
      position: relative;

      &__inner {
        background-color: #fffbe3;
        padding: 18px;
        margin-top: 24px;
        overflow: hidden;
      }

      &__title {
        border-bottom: 1px solid #eeeeee;
      }

      &__photo {
        @include span(3 of 12);

        > img {
          width: 54px;
        }
      }

      &__name {
        @include clearfix;

        padding-top: 4px;
        font-weight: 500;
        font-size: rem(16);

        &__title {
          display: inline;
          font-size: rem(13);
          color: #888;
        }
      }

      &__contact {
        display: block;
        font-size: rem(13);
        letter-spacing: 1px;
        color: #888;
        margin-top: 6px;
      }
    }
  }
}

.similar-flats {
  margin-top: 38px;
  background-color: #fffbe3;
  border-radius: 2px;
  padding: 12px 12px 16px 14px;
  overflow: hidden;
  position: relative;

  &__title {
    margin-bottom: 10px;
    font-weight: 200;
  }
}

.similar-flat {
  @include span(32.9%);
  @include prefixer(transition, all 0.2s ease-out, moz webkit spec);

  margin-right: 2px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
