<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} — Berkub" : 'Berkub' %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/fonts' %>
  <%= render 'layouts/mixpanel' %>

  <%= yield(:head) %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">

<div class="container">
  <!-- header class="header">
    <div class="header__logo"><%= link_to_unless_current image_tag('logo.png'), root_path %></div>

    <ul class="header__nav">
      <li class="header__nav__link"><%= link_to t('flats.index'), flats_path %></li>
      <li class="header__nav__link"><%= link_to t('flats.new.title'), new_flat_path %></li>
    </ul>
  </header -->

  <aside class="sidebar">
    <div class="sidebar__logo"><%= link_to image_tag('logo.png'), root_path %></div>

    <nav class="sidebar__menu__wrapper">
      <ul class="sidebar__menu">
        <li class="sidebar__menu__item"><%= link_to t('flats.index.title'), flats_path %></li>
      </ul>
    </nav>

    <%= yield :sidebar %>

    <ul class="sidebar__footer">
      <li class="sidebar__footer__item"><%= link_to t('pages.about.title'), page_path('about') %></li>
      <!-- li class="sidebar__footer__item"><%= link_to 'Условия использования', '' %></li -->
      <li class="sidebar__footer__item js-contact-link"><%= mail_to 'hello@berkub.com?Subject=Hi', t('contact_us') %></li>
      <li class="sidebar__footer__item sidebar__footer__item--copy"><%= "&copy; #{Time.now.year} Berkub".html_safe %></li>
    </ul>
  </aside>

  <div class="content">
    <%= yield %>
  </div>

  <!-- footer class="footer">
    <div class="footer__copy">
      <span>&copy; <%= Time.now.year %> Berkub</span>
    </div>
  </footer -->
</div>

<%= yield(:editor) %>

<%= render 'layouts/clicky' %>
</body>
</html>
