<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} — Berkub" : 'Berkub' %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/fonts' %>
  <%= render 'layouts/mixpanel' %>

  <%= yield(:head) %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">

<div class="container">
  <header class="header">
    <div class="header__logo"><%= link_to_unless_current image_tag('logo_white.png'), root_path %></div>

    <ul class="header__nav">
      <li class="header__nav__link"><%= link_to t('flats.index.title'), flats_path %></li>
      <li class="header__nav__link"><%= link_to t('pages.about.title'), page_path('about') %></li>
    </ul>
  </header>

  <div class="welcome__cover">
    <div class="welcome__cover__inner">
      <hgroup>
        <h1>Найди свой новый дом</h1>
        <h2>“Home Is Where The Heart Is”</h2>
      </hgroup>
    </div>

    <div class="welcome__search">
      <!-- <div class="welcome__search__inner"></div> -->
      <%= render 'search' %>
    </div>
  </div>

  <%= yield %>
</div>

<%= render 'layouts/clicky' %>
</body>
</html>
